.idea
.vscode
.west
.venv
.direnv
.build
.editorconfig
.cache/

*.utf2

firmware/
bootloader
build/
modules/
tools/
zmk/
zephyr/
optional/

# c, cpp
*.x
*.d
*.dSYM
*.o
*.out


!zephyr/module.yml
