
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#include "shared.dtsi"
#include "mouse.dtsi"

/* Key Positions
╭────────────────────────╮ ╭────────────────────────╮
│  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
│ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
│ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
            ╰────────────╯ ╰────────────╯
*/
/ {

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "Default";
            bindings = <
//    ┌──────┬───┬───┬────────────┬──────────┬─────────┐   ┌────────┬───────────┬────────────┬───┬───┬─────┐
//    │ tab  │ Q │ W │     E      │    R     │    T    │   │   Y    │     U     │     I      │ O │ P │  [  │
//    ├──────┼───┼───┼────────────┼──────────┼─────────┤   ├────────┼───────────┼────────────┼───┼───┼─────┤
//    │ lctl │ A │ S │     D      │    F     │    G    │   │   H    │     J     │     K      │ L │ ; │  '  │
//    ├──────┼───┼───┼────────────┼──────────┼─────────┤   ├────────┼───────────┼────────────┼───┼───┼─────┤
//    │ lsft │ Z │ X │     C      │    V     │    B    │   │   N    │     M     │     ,      │ . │ / │ esc │
//    └──────┴───┴───┼────────────┼──────────┼─────────┤   ├────────┼───────────┼────────────┼───┴───┴─────┘
//                   │ &task_view │ &num_esc │ &fn_spc │   │ mo_ret │ &sym_bspc │ &media_del │
//                   └────────────┴──────────┴─────────┘   └────────┴───────────┴────────────┘
  &kp TAB     &kp Q   &kp W   &kp E        &kp R      &kp T         &kp Y     &kp U       &kp I        &kp O     &kp P      &kp LBKT
  &kp LCTRL   &kp A   &kp S   &kp D        &kp F      &kp G         &kp H     &kp J       &kp K        &kp L     &kp SEMI   &kp SQT
  &kp LSHFT   &kp Z   &kp X   &kp C        &kp V      &kp B         &kp N     &kp M       &kp COMMA    &kp DOT   &kp FSLH   &kp ESC
                              &task_view   &num_esc   &fn_spc       &mo_ret   &sym_bspc   &media_del
            >;
        };

        colemak {
            display-name = "Colemak-DH";
            bindings = <
//    ┌─────┬───┬───┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬───┬───┬─────┐
//    │     │ Q │ W │  F  │  P  │  B  │   │  J  │  L  │  U  │ Y │ ; │     │
//    ├─────┼───┼───┼─────┼─────┼─────┤   ├─────┼─────┼─────┼───┼───┼─────┤
//    │     │ A │ R │  S  │  T  │  G  │   │  M  │  N  │  E  │ I │ O │     │
//    ├─────┼───┼───┼─────┼─────┼─────┤   ├─────┼─────┼─────┼───┼───┼─────┤
//    │     │ Z │ X │  C  │  D  │  V  │   │  K  │  H  │  ,  │ . │ / │     │
//    └─────┴───┴───┼─────┼─────┼─────┤   ├─────┼─────┼─────┼───┴───┴─────┘
//                  │     │     │     │   │     │     │     │
//                  └─────┴─────┴─────┘   └─────┴─────┴─────┘
  &trans   &kp Q   &kp W   &kp F    &kp P    &kp B        &kp J    &kp L    &kp U       &kp Y     &kp SEMI   &trans
  &trans   &kp A   &kp R   &kp S    &kp T    &kp G        &kp M    &kp N    &kp E       &kp I     &kp O      &trans
  &trans   &kp Z   &kp X   &kp C    &kp D    &kp V        &kp K    &kp H    &kp COMMA   &kp DOT   &kp FSLH   &trans
                           &trans   &trans   &trans       &trans   &trans   &trans
            >;
        };

        game {
            display-name = "Game";
            bindings = <
//    ┌─────┬───┬───┬─────┬────────────┬─────┐   ┌─────┬─────┬─────┬───┬───┬──────┐
//    │     │ Q │ W │  E  │     R      │  T  │   │  Y  │  U  │  I  │ O │ P │      │
//    ├─────┼───┼───┼─────┼────────────┼─────┤   ├─────┼─────┼─────┼───┼───┼──────┤
//    │     │ A │ S │  D  │     F      │  G  │   │  H  │  J  │  K  │ L │ ; │  '   │
//    ├─────┼───┼───┼─────┼────────────┼─────┤   ├─────┼─────┼─────┼───┼───┼──────┤
//    │     │ Z │ X │  C  │     V      │  B  │   │  N  │  M  │  ,  │ . │ / │ lgui │
//    └─────┴───┴───┼─────┼────────────┼─────┤   ├─────┼─────┼─────┼───┴───┴──────┘
//                  │     │ &g_num_esc │ spc │   │     │     │     │
//                  └─────┴────────────┴─────┘   └─────┴─────┴─────┘
  &trans   &kp Q   &kp W   &kp E    &kp R        &kp T           &kp Y    &kp U    &kp I       &kp O     &kp P      &trans
  &trans   &kp A   &kp S   &kp D    &kp F        &kp G           &kp H    &kp J    &kp K       &kp L     &kp SEMI   &kp SQT
  &trans   &kp Z   &kp X   &kp C    &kp V        &kp B           &kp N    &kp M    &kp COMMA   &kp DOT   &kp FSLH   &kp LGUI
                           &trans   &g_num_esc   &kp SPACE       &trans   &trans   &trans
            >;
        };

        game_num {
            display-name = "Game Num";
            bindings = <
//    ┌───────────┬─────┬─────┬─────┬─────┬─────┐   ┌──────┬──────┬─────┬──────┬─────┬─────┐
//    │ lctl(tab) │  1  │  2  │  3  │  4  │  5  │   │      │      │     │      │     │     │
//    ├───────────┼─────┼─────┼─────┼─────┼─────┤   ├──────┼──────┼─────┼──────┼─────┼─────┤
//    │    ent    │  6  │  7  │  8  │  9  │  0  │   │ left │ down │ up  │ rght │ del │     │
//    ├───────────┼─────┼─────┼─────┼─────┼─────┤   ├──────┼──────┼─────┼──────┼─────┼─────┤
//    │     ~     │     │     │     │     │     │   │      │      │     │      │     │     │
//    └───────────┴─────┴─────┼─────┼─────┼─────┤   ├──────┼──────┼─────┼──────┴─────┴─────┘
//                            │     │     │     │   │      │      │     │
//                            └─────┴─────┴─────┘   └──────┴──────┴─────┘
  &kp LC(TAB)   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5       &trans     &trans     &trans   &trans      &trans    &trans
  &kp RET       &kp N6   &kp N7   &kp N8   &kp N9   &kp N0       &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp DEL   &trans
  &kp TILDE     &trans   &trans   &trans   &trans   &trans       &trans     &trans     &trans   &trans      &trans    &trans
                                  &trans   &trans   &trans       &trans     &trans     &trans
            >;
        };

        num {
            display-name = "Numbers";
            bindings = <
//    ┌───────────┬─────┬─────┬──────┬─────┬─────┐   ┌──────┬──────┬─────┬──────┬─────┬─────┐
//    │ lctl(tab) │  1  │  2  │  3   │  4  │  5  │   │      │      │     │      │     │     │
//    ├───────────┼─────┼─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┼─────┼─────┤
//    │    ent    │  6  │  7  │  8   │  9  │  0  │   │ left │ down │ up  │ rght │     │     │
//    ├───────────┼─────┼─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┼─────┼─────┤
//    │           │     │     │      │     │     │   │      │      │     │      │     │     │
//    └───────────┴─────┴─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┴─────┴─────┘
//                            │ lgui │     │     │   │      │      │     │
//                            └──────┴─────┴─────┘   └──────┴──────┴─────┘
  &kp LC(TAB)   &kp N1   &kp N2   &kp N3     &kp N4   &kp N5       &trans     &trans     &trans   &trans      &trans   &trans
  &kp RET       &kp N6   &kp N7   &kp N8     &kp N9   &kp N0       &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &trans   &trans
  &trans        &trans   &trans   &trans     &trans   &trans       &trans     &trans     &trans   &trans      &trans   &trans
                                  &kp LGUI   &trans   &trans       &trans     &trans     &trans
            >;
        };

        fn {
            display-name = "Func";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬──────┬─────┬─────┬─────┬─────┐
//    │     │ f1  │ f2  │ f3  │ f4  │ f5  │   │ f7  │  f8  │ f9  │ f10 │ f11 │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼──────┼─────┼─────┼─────┼─────┤
//    │     │ f6  │     │     │     │ f12 │   │     │ home │ end │ ins │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼──────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │   │     │      │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼──────┼─────┼─────┴─────┴─────┘
//                      │     │     │     │   │     │      │     │
//                      └─────┴─────┴─────┘   └─────┴──────┴─────┘
  &trans   &kp F1   &kp F2   &kp F3   &kp F4   &kp F5        &kp F7   &kp F8     &kp F9    &kp F10   &kp F11   &trans
  &trans   &kp F6   &trans   &trans   &trans   &kp F12       &trans   &kp HOME   &kp END   &kp INS   &trans    &trans
  &trans   &trans   &trans   &trans   &trans   &trans        &trans   &trans     &trans    &trans    &trans    &trans
                             &trans   &trans   &trans        &trans   &trans     &trans
            >;
        };

        media {
            display-name = "Media";
            bindings = <
//    ┌──────────┬──────────┬──────────┬──────────┬────────────┬────────┐   ┌─────────────┬─────┬─────┬─────┬──────┬──────┐
//    │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │  bt_sel 4  │ bt_clr │   │ tog COLEMAK │     │     │     │ vold │ play │
//    ├──────────┼──────────┼──────────┼──────────┼────────────┼────────┤   ├─────────────┼─────┼─────┼─────┼──────┼──────┤
//    │          │          │          │          │            │        │   │             │     │     │     │ volu │ next │
//    ├──────────┼──────────┼──────────┼──────────┼────────────┼────────┤   ├─────────────┼─────┼─────┼─────┼──────┼──────┤
//    │          │          │          │          │            │        │   │             │     │     │     │      │ mute │
//    └──────────┴──────────┴──────────┼──────────┼────────────┼────────┤   ├─────────────┼─────┼─────┼─────┴──────┴──────┘
//                                     │          │ &sys_reset │  boot  │   │    boot     │     │     │
//                                     └──────────┴────────────┴────────┘   └─────────────┴─────┴─────┘
  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_CLR        &tog COLEMAK   &none   &none   &none   &kp C_VOL_DN   &kp C_PLAY
  &none          &none          &none          &none          &none          &none             &none          &none   &none   &none   &kp C_VOL_UP   &kp C_NEXT
  &none          &none          &none          &none          &none          &none             &none          &none   &none   &none   &none          &kp C_MUTE
                                               &none          &sys_reset     &bootloader       &bootloader    &none   &none
            >;
        };

        mouse {
            display-name = "Mouse";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌────────────────┬────────────────┬────────────────┬────────────────┬─────┬─────┐
//    │     │     │     │     │     │     │   │      lclk      │  &mmv MOVE_up  │      rclk      │  &msc SCRL_up  │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//    │     │     │     │     │     │     │   │ &mmv MOVE_left │ &mmv MOVE_down │ &mmv MOVE_rght │ &msc SCRL_down │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//    │     │     │     │     │     │     │   │                │ &msc SCRL_left │ &msc SCRL_rght │      lctl      │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┤   ├────────────────┼────────────────┼────────────────┼────────────────┴─────┴─────┘
//                      │     │     │     │   │                │                │                │
//                      └─────┴─────┴─────┘   └────────────────┴────────────────┴────────────────┘
  &trans   &trans   &trans   &trans   &trans   &trans       &mkp LCLK        &mmv MOVE_UP     &mkp RCLK         &msc SCRL_UP     &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans       &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_RIGHT   &msc SCRL_DOWN   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans       &trans           &msc SCRL_LEFT   &msc SCRL_RIGHT   &kp LCTRL        &trans   &trans
                             &trans   &trans   &trans       &trans           &trans           &trans
            >;
        };

        sym  {
            display-name = "Symbols";
            bindings = <
//    ┌─────┬───┬─────┬──────┬─────┬─────┐   ┌─────┬─────┬─────┬───┬───┬───┐
//    │     │ ! │  @  │  #   │  $  │  %  │   │     │     │  <  │ > │ | │ ] │
//    ├─────┼───┼─────┼──────┼─────┼─────┤   ├─────┼─────┼─────┼───┼───┼───┤
//    │     │ ^ │  &  │ kp_* │     │     │   │     │  -  │  (  │ ) │ = │ ` │
//    ├─────┼───┼─────┼──────┼─────┼─────┤   ├─────┼─────┼─────┼───┼───┼───┤
//    │     │ ~ │     │      │     │     │   │     │  +  │  {  │ } │ \ │ _ │
//    └─────┴───┴─────┼──────┼─────┼─────┤   ├─────┼─────┼─────┼───┴───┴───┘
//                    │      │     │     │   │     │     │     │
//                    └──────┴─────┴─────┘   └─────┴─────┴─────┘
  &trans   &kp EXCL    &kp AT     &kp HASH          &kp DLLR   &kp PRCNT       &trans   &trans      &kp LT     &kp GT     &kp PIPE    &kp RBKT
  &trans   &kp CARET   &kp AMPS   &kp KP_MULTIPLY   &trans     &trans          &trans   &kp MINUS   &kp LPAR   &kp RPAR   &kp EQUAL   &kp GRAVE
  &trans   &kp TILDE   &trans     &trans            &trans     &trans          &trans   &kp PLUS    &kp LBRC   &kp RBRC   &kp BSLH    &kp UNDER
                                  &trans            &trans     &trans          &trans   &trans      &trans
            >;
        };

    };
};
