
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#include "shared.dtsi"
#include "mouse.dtsi"

/* Key Positions
╭────────────────────────╮ ╭────────────────────────╮
│  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
│ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
│ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
            ╰────────────╯ ╰────────────╯
*/

/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "Default";
            bindings = <
//    ┌──────────┬───┬───┬─────┬──────────────┬───────────┐   ┌───────────┬─────────┬────────────┬───┬───┬──────┐
//    │ &alt_gui │ Q │ W │  E  │      R       │     T     │   │     Y     │    U    │     I      │ O │ P │ bspc │
//    ├──────────┼───┼───┼─────┼──────────────┼───────────┤   ├───────────┼─────────┼────────────┼───┼───┼──────┤
//    │   lctl   │ A │ S │  D  │      F       │     G     │   │     H     │    J    │     K      │ L │ ; │  '   │
//    ├──────────┼───┼───┼─────┼──────────────┼───────────┤   ├───────────┼─────────┼────────────┼───┼───┼──────┤
//    │   lsft   │ Z │ X │  C  │      V       │     B     │   │     N     │    M    │     ,      │ . │ / │ esc  │
//    └──────────┴───┴───┼─────┼──────────────┼───────────┤   ├───────────┼─────────┼────────────┼───┴───┴──────┘
//                       │ tab │ mo NUMBErsft │ lt FN_spc │   │ lt MO_ent │ mo SYMB │ mo WINDOWS │
//                       └─────┴──────────────┴───────────┘   └───────────┴─────────┴────────────┘
  &alt_gui    &kp Q   &kp W   &kp E     &kp R         &kp T            &kp Y        &kp U      &kp I         &kp O     &kp P      &kp BSPC
  &kp LCTRL   &kp A   &kp S   &kp D     &kp F         &kp G            &kp H        &kp J      &kp K         &kp L     &kp SEMI   &kp SQT
  &kp LSHFT   &kp Z   &kp X   &kp C     &kp V         &kp B            &kp N        &kp M      &kp COMMA     &kp DOT   &kp FSLH   &kp ESC
                              &kp TAB   &mo NUMBERS   &lt FN_SPC       &lt MO_RET   &mo SYMB   &mo WINDOWS
            >;
        };

        gam {
            display-name = "Game";
            bindings = <
//    ┌─────┬───┬───┬─────┬────────────┬─────┐   ┌─────┬─────┬─────┬───┬───┬─────┐
//    │     │ Q │ W │  E  │     R      │  T  │   │  Y  │  U  │  I  │ O │ P │     │
//    ├─────┼───┼───┼─────┼────────────┼─────┤   ├─────┼─────┼─────┼───┼───┼─────┤
//    │     │ A │ S │  D  │     F      │  G  │   │  H  │  J  │  K  │ L │ ; │     │
//    ├─────┼───┼───┼─────┼────────────┼─────┤   ├─────┼─────┼─────┼───┼───┼─────┤
//    │     │ Z │ X │  C  │     V      │  B  │   │  N  │  M  │  ,  │ . │ / │     │
//    └─────┴───┴───┼─────┼────────────┼─────┤   ├─────┼─────┼─────┼───┴───┴─────┘
//                  │     │ mo GAM_NUM │ spc │   │ ent │     │     │
//                  └─────┴────────────┴─────┘   └─────┴─────┴─────┘
  &trans   &kp Q   &kp W   &kp E    &kp R         &kp T           &kp Y     &kp U    &kp I       &kp O     &kp P      &trans
  &trans   &kp A   &kp S   &kp D    &kp F         &kp G           &kp H     &kp J    &kp K       &kp L     &kp SEMI   &trans
  &trans   &kp Z   &kp X   &kp C    &kp V         &kp B           &kp N     &kp M    &kp COMMA   &kp DOT   &kp FSLH   &trans
                           &trans   &mo GAM_NUM   &kp SPACE       &kp RET   &trans   &trans
            >;
        };

        gam_num {
            display-name = "Gam Num";
            bindings = <
//    ┌─────────────────┬───┬─────┬──────┬─────┬─────┐   ┌──────┬──────┬─────┬──────┬─────┬─────┐
//    │        0        │ 1 │  2  │  3   │  4  │  5  │   │      │      │     │      │     │     │
//    ├─────────────────┼───┼─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┼─────┼─────┤
//    │ mt lsftlctl_ent │ 6 │  7  │  8   │  9  │     │   │ left │ down │ up  │ rght │ del │     │
//    ├─────────────────┼───┼─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┼─────┼─────┤
//    │       esc       │ ~ │     │      │     │     │   │      │      │     │      │     │     │
//    └─────────────────┴───┴─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┴─────┴─────┘
//                                │ bspc │     │ del │   │      │      │     │
//                                └──────┴─────┴─────┘   └──────┴──────┴─────┘
  &kp N0         &kp N1      &kp N2   &kp N3     &kp N4   &kp N5        &trans     &trans     &trans   &trans      &trans    &trans
  &mt LSLC_RET   &kp N6      &kp N7   &kp N8     &kp N9   &trans        &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp DEL   &trans
  &kp ESC        &kp TILDE   &trans   &trans     &trans   &trans        &trans     &trans     &trans   &trans      &trans    &trans
                                      &kp BSPC   &trans   &kp DEL       &trans     &trans     &trans
            >;
        };

        numbers {
            display-name = "Num";
            bindings = <
//    ┌─────────────────┬─────┬─────┬──────┬─────┬─────┐   ┌──────┬──────┬─────┬──────┬─────┬─────┐
//    │        0        │  1  │  2  │  3   │  4  │  5  │   │      │      │     │      │     │     │
//    ├─────────────────┼─────┼─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┼─────┼─────┤
//    │ mt lsftlctl_ent │  6  │  7  │  8   │  9  │     │   │ left │ down │ up  │ rght │ del │     │
//    ├─────────────────┼─────┼─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┼─────┼─────┤
//    │       esc       │     │     │      │     │     │   │      │      │     │      │     │     │
//    └─────────────────┴─────┴─────┼──────┼─────┼─────┤   ├──────┼──────┼─────┼──────┴─────┴─────┘
//                                  │ bspc │     │ del │   │      │      │     │
//                                  └──────┴─────┴─────┘   └──────┴──────┴─────┘
  &kp N0         &kp N1   &kp N2   &kp N3     &kp N4   &kp N5        &trans     &trans     &trans   &trans      &trans    &trans
  &mt LSLC_RET   &kp N6   &kp N7   &kp N8     &kp N9   &trans        &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp DEL   &trans
  &kp ESC        &trans   &trans   &trans     &trans   &trans        &trans     &trans     &trans   &trans      &trans    &trans
                                   &kp BSPC   &trans   &kp DEL       &trans     &trans     &trans
            >;
        };

        funk {
            display-name = "Funkee";
            bindings = <
//    ┌──────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬──────┐
//    │ play │ f1  │ f2  │ f3  │ f4  │ f5  │   │ f7  │ f8  │ f9  │ f10 │ f11 │ home │
//    ├──────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼──────┤
//    │ ent  │ f6  │     │     │     │     │   │ f12 │ f13 │ f14 │ f15 │ f16 │ end  │
//    ├──────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼──────┤
//    │ next │     │     │     │     │     │   │ f17 │     │     │     │     │ ins  │
//    └──────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴──────┘
//                       │     │     │     │   │     │     │     │
//                       └─────┴─────┴─────┘   └─────┴─────┴─────┘
  &kp C_PLAY   &kp F1   &kp F2   &kp F3   &kp F4   &kp F5       &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp HOME
  &kp RET      &kp F6   &trans   &trans   &trans   &trans       &kp F12   &kp F13   &kp F14   &kp F15   &kp F16   &kp END
  &kp C_NEXT   &trans   &trans   &trans   &trans   &trans       &kp F17   &trans    &trans    &trans    &trans    &kp INS
                                 &trans   &trans   &trans       &trans    &trans    &trans
            >;
        };

        layers {
            display-name = "Layers";
            bindings = <
//    ┌──────────┬──────────┬──────────┬──────────┬────────────┬──────┐   ┌────────────┬─────┬─────┬─────┬─────┬────────┐
//    │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │  bt_sel 4  │      │   │ to QWERTY  │     │     │     │     │        │
//    ├──────────┼──────────┼──────────┼──────────┼────────────┼──────┤   ├────────────┼─────┼─────┼─────┼─────┼────────┤
//    │          │          │          │          │            │      │   │            │     │     │     │     │        │
//    ├──────────┼──────────┼──────────┼──────────┼────────────┼──────┤   ├────────────┼─────┼─────┼─────┼─────┼────────┤
//    │  bt_clr  │          │          │          │            │      │   │ to GAM_DEF │     │     │     │     │ bt_clr │
//    └──────────┴──────────┴──────────┼──────────┼────────────┼──────┤   ├────────────┼─────┼─────┼─────┴─────┴────────┘
//                                     │          │ &sys_reset │ boot │   │    boot    │     │     │
//                                     └──────────┴────────────┴──────┘   └────────────┴─────┴─────┘
  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &none             &to QWERTY    &none   &none   &none   &none   &none
  &none          &none          &none          &none          &none          &none             &none         &none   &none   &none   &none   &none
  &bt BT_CLR     &none          &none          &none          &none          &none             &to GAM_DEF   &none   &none   &none   &none   &bt BT_CLR
                                               &none          &sys_reset     &bootloader       &bootloader   &none   &none
            >;
        };

        mouse {
            display-name = "Mouse";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌────────────────┬────────────────┬────────────────┬────────────────┬─────┬─────┐
//    │     │     │     │     │     │     │   │      lclk      │  &mmv MOVE_up  │      rclk      │  &msc SCRL_up  │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//    │     │     │     │     │     │     │   │ &mmv MOVE_left │ &mmv MOVE_down │ &mmv MOVE_rght │ &msc SCRL_down │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//    │     │     │     │     │     │     │   │ &msc SCRL_left │ &msc SCRL_rght │      lctl      │                │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┤   ├────────────────┼────────────────┼────────────────┼────────────────┴─────┴─────┘
//                      │     │     │     │   │                │                │                │
//                      └─────┴─────┴─────┘   └────────────────┴────────────────┴────────────────┘
  &trans   &trans   &trans   &trans   &trans   &trans       &mkp LCLK        &mmv MOVE_UP      &mkp RCLK         &msc SCRL_UP     &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans       &mmv MOVE_LEFT   &mmv MOVE_DOWN    &mmv MOVE_RIGHT   &msc SCRL_DOWN   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans       &msc SCRL_LEFT   &msc SCRL_RIGHT   &kp LCTRL         &trans           &trans   &trans
                             &trans   &trans   &trans       &trans           &trans            &trans
            >;
        };

        symb {
            display-name = "Symbols";
            bindings = <
//    ┌─────┬───┬─────┬──────┬────────────┬─────┐   ┌───────────────┬─────┬─────┬───┬───┬─────┐
//    │     │ ! │  @  │  #   │     $      │  %  │   │ to laltYErsft │     │  (  │ ) │ | │     │
//    ├─────┼───┼─────┼──────┼────────────┼─────┤   ├───────────────┼─────┼─────┼───┼───┼─────┤
//    │     │ ^ │  &  │ kp_* │     <      │  >  │   │               │  -  │  [  │ ] │ = │  `  │
//    ├─────┼───┼─────┼──────┼────────────┼─────┤   ├───────────────┼─────┼─────┼───┼───┼─────┤
//    │     │ ~ │     │      │            │     │   │               │  +  │  {  │ } │ \ │  _  │
//    └─────┴───┴─────┼──────┼────────────┼─────┤   ├───────────────┼─────┼─────┼───┴───┴─────┘
//                    │      │ mo WINDOWS │     │   │               │     │     │
//                    └──────┴────────────┴─────┘   └───────────────┴─────┴─────┘
  &trans   &kp EXCL    &kp AT     &kp HASH          &kp DLLR      &kp PRCNT       &to LAYERS   &trans      &kp LPAR   &kp RPAR   &kp PIPE    &trans
  &trans   &kp CARET   &kp AMPS   &kp KP_MULTIPLY   &kp LT        &kp GT          &trans       &kp MINUS   &kp LBKT   &kp RBKT   &kp EQUAL   &kp GRAVE
  &trans   &kp TILDE   &trans     &trans            &trans        &trans          &trans       &kp PLUS    &kp LBRC   &kp RBRC   &kp BSLH    &kp UNDER
                                  &trans            &mo WINDOWS   &trans          &trans       &trans      &trans
            >;
        };

        win {
            display-name = "Windows";
            bindings = <
//    ┌───────────┬─────┬───────────────┬─────────┬─────────┬─────┐   ┌────────────┬──────────────────┬──────────────────┬────────────┬─────────┬─────┐
//    │ lgui(tab) │     │               │ lgui(E) │         │     │   │            │ lctl(lgui(left)) │ lctl(lgui(rght)) │            │         │     │
//    ├───────────┼─────┼───────────────┼─────────┼─────────┼─────┤   ├────────────┼──────────────────┼──────────────────┼────────────┼─────────┼─────┤
//    │           │     │    lgui(S)    │         │         │     │   │ lgui(left) │    lgui(down)    │     lgui(up)     │ lgui(rght) │ lgui(L) │     │
//    ├───────────┼─────┼───────────────┼─────────┼─────────┼─────┤   ├────────────┼──────────────────┼──────────────────┼────────────┼─────────┼─────┤
//    │           │     │ lsft(lgui(S)) │         │ lgui(V) │     │   │            │                  │                  │            │         │     │
//    └───────────┴─────┴───────────────┼─────────┼─────────┼─────┤   ├────────────┼──────────────────┼──────────────────┼────────────┴─────────┴─────┘
//                                      │         │         │     │   │            │                  │                  │
//                                      └─────────┴─────────┴─────┘   └────────────┴──────────────────┴──────────────────┘
  &kp LG(TAB)   &trans   &trans          &kp LG(E)   &trans      &trans       &trans         &kp LC(LG(LEFT))   &kp LC(LG(RIGHT))   &trans          &trans      &trans
  &trans        &trans   &kp LG(S)       &trans      &trans      &trans       &kp LG(LEFT)   &kp LG(DOWN)       &kp LG(UP)          &kp LG(RIGHT)   &kp LG(L)   &trans
  &trans        &trans   &kp LS(LG(S))   &trans      &kp LG(V)   &trans       &trans         &trans             &trans              &trans          &trans      &trans
                                         &trans      &trans      &trans       &trans         &trans             &trans
            >;
        };
    };
};
