// #define ZMK_POINTING_DEFAULT_MOVE_VAL 600 // 600
// #define ZMK_POINTING_DEFAULT_SCRL_VAL 20  // 10

#include <input/processors.dtsi>
#include <dt-bindings/zmk/pointing.h>


&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };
&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&mmv {
  time-to-max-speed-ms = <500>;
  acceleration-exponent = <1>;
  delay-ms = <0>;
};

&msc {
  time-to-max-speed-ms = <400>;
  acceleration-exponent = <1>;
  delay-ms = <0>;
};
